<!-- header -->

<body>

    <header>
        <div class="overlay">
            <div class="container">
                <app-navbar *ngIf="id == '' "></app-navbar>
                <app-second-navbar *ngIf="id != '' "></app-second-navbar>
            </div>

            <div class="banner">
                <h1>Smarter transportation <br>
                    for your people</h1>
                <p>Replace the inefficiencies plaguing your transportation.</p>
                <button>speak with our team</button>
            </div>
        </div>
    </header>

    <!-- features -->

    <div class="features">
        <div class="row features-row">
            <div class="col item Businesses-item">
                <div class="container">
                    <img src="assets/img/SVL_Web Imagery_Business Page_Businesses Icon.png" alt="business">
                    <h5>Business</h5>
                    <p>Fixed or flexible transportation solutions for your staff that are convenient and cost-effective
                        for your business.</p>
                </div>
            </div>
            <div class="col item Education-item">
                <div class="container">
                    <img src="assets/img/SVL_Web Imagery_Business Page_Education Icon.png" alt="education">
                    <h5>Education</h5>
                    <p>We offer a suite of transportation solutions for your students to move from/to and on campus
                        safely and conveniently.</p>
                </div>
            </div>
            <div class="col item Communities-item">
                <div class="container">
                    <img src="assets/img/SVL_Web Imagery_Business Page_Communities Icon.png" alt="education">
                    <h5>Communities</h5>
                    <p>Unlock the power of data and technology to optimize your operations. Maximize vehicle utilization
                        and user experience.</p>
                </div>
            </div>

            <div class="col item Transit-item">
                <div class="container">
                    <img src="assets/img/SVL_Web Imagery_Business Page_Transit Operators Icon.png"
                        alt="transit operators">
                    <h5>Transit Operators</h5>
                    <p>Take back control over your operations and cost with our cutting-edge technology for unbeaten
                        visibility & optimization.</p>
                </div>
            </div>
        </div>
        <div class="brands">
            <div class="row brands-row">
                <div class="col">
                    <img src="assets/img/SWVL-Etisalat.webp" alt="etisalat">
                    <!-- <img src="assets/img/SWVL-Allianz.webp" alt="allianz"> -->
                </div>
                <div class="col">
                    <img src="assets/img/SWVL-Amazon.webp" alt="amazon">
                </div>
                <div class="col">
                    <img src="assets/img/SWVL-AXA.webp" alt="axa">
                </div>
                <div class="col">
                    <img src="assets/img/SWVL-Beiersdorf.webp" alt="Beiersdorf">
                </div>
                <div class="col">
                    <img src="assets/img/SWVL-Emaar.webp" alt="emaar">
                </div>
                <div class="col">
                    <img src="assets/img/SWVL-Henkel.webp" alt="henkel">
                </div>
            </div>
            <h2>Be prepared for unexpected challenges</h2>
            <p>Uride fills in the gap between fragmented public transportation and expensive <br> on-demand services with
                tech-enabled solutions.</p>
        </div>

        <div class="container">
            <div class="safe">
                <div class="safe-row row">
                    <div class="safe-caption col-lg-7">
                        <h4>SAFE DATA-DRIVEN ROUTES</h4>
                        <p>We use GPS tracking for 100% <br> visibility on all routes</p>
                    </div>

                    <div class="gps-img col-lg-5">
                        <img src="assets/img/SVL_Web Imagery_Business Page_Safe Routes.webp" alt="safe">
                    </div>
                </div>
            </div>

            <div class="support">
                <div class="support-row row">
                    <div class="support-img col-lg-5">
                        <img src="assets/img/SVL_Web Imagery_Business Page_Support.webp" alt="support">
                    </div>

                    <div class="support-caption col-lg-5">
                        <h4>REAL PEOPLE, READY TO ASSIST 24/7</h4>
                        <p>We offer 24/7 support including on <br> holidays!</p>
                    </div>

                </div>
            </div>

            <div class="processing">
                <div class="processing-row row">
                    <div class="processing-caption col-lg-7">
                        <h4>QUICK, AUTOMATED PROCESSING</h4>
                        <p>Less than 1-day turnaround on <br> invoicing</p>
                    </div>

                    <div class="processing-img col-lg-5">
                        <img src="assets/img/SVL_Web Imagery_Business Page_Processing.webp" alt="processing">
                    </div>
                </div>
            </div>

            <div class="transport">
                <div class="transport-row row">
                    <div class="transport-img col-lg-5">
                        <img src="assets/img/SVL_Web Imagery_Business Page_Transport.webp" alt="transport">
                    </div>

                    <div class="transport-caption col-lg-5">
                        <h4>RELIABLE AND COMPLETELY VISIBLE TRANSPORT</h4>
                        <p>Our fleets have 99.9% on time reliability</p>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <!-- projects -->

    <div class="projects">
        <h2>You can focus on the tasks and projects that <br> matter most</h2>
        <div class="solutions">
            <div class="container">
                <div class="row">
                    <div class="solutions-img col-lg-7">
                        <img src="https://www.swvl.com/hubfs/Swvl_July2021/Images/Why%20Swvl%20Business.png" alt="">
                    </div>
                    <div class="solutions-caption col-lg-5">
                        <h5>Uride’s tech-powered solutions also allow you to:</h5>
                        <ul>
                            <li>Skip follow-up calls from managing <br> multiple vendors</li>
                            <li>Bypass the heavy lifting of data collection, <br> scheduling, and monitoring</li>
                            <li>Ensure your employees arrive safely and on <br> time</li>
                        </ul>
                    </div>
                </div>
                <div class="row help">
                    <h3>See how we can help with end-to-end tools</h3>
                    <p>
                        Manage all your transportation needs in one place—with Uride, you can ensure the perfect balance
                        between utilization and <br> cost-effectiveness.</p>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="need-item">
                                <h4>Need a software solution?</h4>
                                <p>With the app, you have opportunities for <br> route optimization, live tracking,
                                    scheduled <br> rides, ride ratings, in-ride support, and more.</p>
                                <img src="https://www.swvl.com/hubfs/SVL_Web%20Imagery_Business%20Page_Software%20Solution%20Icon.svg"
                                    alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="need-item">
                                <h4>Need a transportation fleet?</h4>
                                <p>Don’t own your own fleet? Not a problem. <br> We can also bundle any solution with a
                                    <br> fleet.</p>
                                <img src="https://www.swvl.com/hubfs/SVL_Web%20Imagery_Business%20Page_Transportation%20Fleet%20Icon.svg"
                                    alt="">
                            </div>
                        </div>
                    </div>

                    <div class="row speak-team">
                        <h3> Find a solution that works for you.</h3>
                        <p>Reach out to optimize transportation for your organization.</p>
                        <button>speak with our team</button>
                    </div>
                </div>
            </div>
            <div class="flexible-solutions">
                <h3>Flexible solutions for changing needs</h3>
                <div class="row">
                    <div class="flexible-img col-lg-7">
                        <img src="assets/img/SVL_Web Imagery_Business Page_Persona.webp" alt="">
                    </div>
                    <div class="flexible-caption col-lg-5">
                        <span>Uride was born out of a growing <br> need for safe, reliable, efficient <br> employee
                            transit.</span>
                            <p>We collect insights from thousands of daily <br> users to provide the transportation solutions <br> people need right now.</p>
                            <p class="second-p">What to learn more?</p>
                            <button>read th blog</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- assessment -->
    <div class="assessment">
        <div class="container">
            <div class="row">
                <div class="assessment-caption col-lg-7">
                    <h4>Take our quick Transportation Assessment <br> Checklist.</h4>
                    <p>Learn more about the impacts inecient and risky employee commutes can <br> have on your business.</p>
                </div>
                <div class="col-lg-5 assessment-img position-relative">
                   <div class="img-layer"></div>
                    <img src="assets/img/SVL_Web Imagery_Business Page_Checklist-crop.webp" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- testimonials -->

    <div class="testimonials">
        <h3>TAKE IT FROM OUR CUSTOMERS</h3>
        <p>“Static supply and demand-led transport planning is increasingly <br> incompatible with new perceptions of mobility and public appetite for <br> digital services. The dynamic nature of on-demand transportation <br> offers an opportunity to enhance public transport and attract new users.”</p>
        <span>
            Philip Wagner, Senior Master Planner, Flughafen München GmbH
        </span>
    </div>
    <app-footer></app-footer>
</body>