<div class="driver">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-6 driver-info">
                <!-- <span>Become a driver?</span> -->
                <h2>Join As A Driver</h2>
                <ul class="col-lg-10">
                    <!-- <li>Ofer a rideshare for your local commute or for long distance trips. </li>
                    <li>Fill your empty seats with passengers to share a ride.</li>
                    <li>Save hundreds of dollors per month and have fun riding with new friends. </li> -->
                    <div class="d-flex">
                        <i class="fa-check mt-4 " style="margin-left: -20px; color:#f82145"></i>
                        <li class="ps-3"> Ofer a rideshare for your local commute or for long distance trips. </li>
                    </div>
                    <div class="d-flex">
                        <i class="fa-check mt-3 " style="margin-left: -20px; color:#f82145"></i>
                        <li class="ps-4">  Fill your empty seats with passengers to share a ride. </li>
                    </div>
                    <div class="d-flex">
                        <i class="fa-check mt-3 " style="margin-left: -20px; color:#f82145"></i>
                        <li class="ps-4"> Save hundreds of dollors per month and have fun riding with new friends. </li>
                    </div>
                </ul>
                <button routerLink="/driver">Join Now</button>
            </div>
            <div class="col-lg-6 driver-img ps-4">
                <!-- <div class="border-img"></div> -->
                <div class="border-img2"></div>
                <img src="assets/img/dr5.jpg" alt="driver">
            </div>
        </div>
    </div>
</div>
