<!-- <div class="header">
    <div class="intro container">
        <div class="row">
            <div class="col">
                <div class="bg-gray">
                    <div class="ride-sharing-info">
                        <h1>Ride Sharing Can Save Time And Money</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <div class="row row-input">
                            <input type="text" placeholder="Your Departure" class="col-lg-6">
                            <button class="col-lg-3">Search for rider</button>
                        </div>
                        <div class="row row-numbers">
                            <span class="col">100,000+</span>
                            <span class="col">45,000+</span>
                            <span class="col">2,50,000+</span>
                        </div>
                        <div class="row row-numbers">
                            <p class="col">Ride Request</p>
                            <p class="col">Expert Drivers</p>
                            <p class="col">Satisfied User</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="ride-sharing-img col">
                <img src="assets/img/ridesharing.png" alt="">
            </div>
        </div>
    </div>

</div> -->

<header>
        <div class="container">
            <app-navbar *ngIf="id == '' "></app-navbar>
            <app-second-navbar *ngIf="id != '' "></app-second-navbar>
        </div>
        <video  loop muted autoplay id="myVideo">
            <!-- <source src="https://f.hubspotusercontent20.net/hubfs/9490826/SWVL%20-%20Amended%20Graded.mp4" type="video/mp4"> -->
            <source src="assets/img/WhatsApp Video 2022-04-17 at 4.50.11 PM.mp4" type="video/mp4">
        </video>
       
        <div class="overlay">
            <div class="banner">
                <button>download</button>
            </div>
        </div> 
</header>

<!-- <router-outlet></router-outlet> -->
  
 