<body>
    

    <div class="edit-profile">
       <div class="container">
       <form #postForm="ngForm" (ngSubmit)="editPasswprd(postForm.value)">
        <!-- <div class="row row-img">
            <div class="col-lg-2">
                <div class="profile-img">
                    <img src="assets/img/sfrt-min.jpg" alt="girl">
                </div>
            </div>
           

            <div class="col-lg-4">
                <button class="btn bg-color">Change</button>
                <button class="btn bg-transparent">Remove</button>
            </div>

        </div> -->
        
        <div class="row" >
            <!-- <h3>General</h3> -->
            <div class="col-lg-5">
                <label for="email">Email</label>
                <input type="text" id="email" class="form-control" name="email" required ngModel>
            </div>
            <div class="col-lg-5" style="margin-left: -70px;">
                <label for="currentPass" class="label">Current Password</label>
                <input type="text" id="currentPass" class="form-control" name="curentPassword" required ngModel>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                <label for="newPassword">New Password</label>
                <input type="text" id="newPassword" class="form-control" name="newPassword" required ngModel>
            </div>
                
        </div>
        <div class="row">
            <div class="col-lg-10">
                <label for="confirmNewPassword">Confirm Password</label>
                <input type="text" id="confirmNewPassword" class="form-control" name="confirmNewPassword" required ngModel>
            </div>
                
        </div>

        <div class="row">
            <div class="col-lg-4">
            </div>

            <div class="col-lg-4" style="margin-top: -30px;">
                <button class="cancel-btn btn" routerLink="/">Cancel</button>
                <button class="save-btn btn" type="submit">Save</button>
            </div>
                
        </div>
       </form>

       </div>

    </div>

</body>
