*{
    font-family: Circular,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;

}

.container{
    width: 90%;
    margin:-40px auto 0px;
    background-color: #FFF;
}

.edit-profile h2 , h3{
    font-size: 40px;
    color: rgba(28, 28, 28 , .8);
    margin-bottom: 60px;
}



.edit-profile img{
    width: 65%;
    height: 65%;
    border-radius: 50%;
    border: 1px solid rgba(224, 219, 219,.9);
    padding: 10px
}

.btn{
    width: 40%;
    height: 40%;
    border-radius: 30px;
    margin-top: 30px;
    padding: 10px 0px 37px;
}

.bg-color , .save-btn{
    background-color: #fc153b;
    color: #FFF;
    font-weight: 700;
}

.bg-transparent , .cancel-btn{
    color: rgba(28, 28, 28 , .8);
    font-weight: 700;
    font-size: 17px;
}

.row{
    margin-top: 30px;
}

h3{
    font-size: 30px;
    font-weight: 500;
}

label{
    /* color:rgba(108, 107, 107, 0.9); */
    color: rgba(28, 28, 28 , .8);
    margin-left: 5px;
}

input{
    background-color: #f7f7f7;
    border: none;
    padding: 20px;
    border-bottom-right-radius:30px ;
    border-top-right-radius:30px ;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 35px;
    width: 76%;
}

#email , #password , #phone{
    width: 79%;
}

.save-btn{
    padding: 12px 0px 37px 0px;
}