<nav class="navbar navbar-expand-lg  navbar-light">
    <div class="container">

      <a  href="#"><img  class = "logo"src="../assets/img/lohh.png"  alt=""></a>
      <button class="navbar-toggler border-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="text-white navbar-toggler-icon "></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item me-md-4">
            <a class="nav-link active-link" aria-current="page"  routerLink="/home">Home</a>
          </li>
          <li class="nav-item me-md-4">
            <a class="nav-link" routerLink="/daily">DAILY</a>
          </li>
          <li class="nav-item me-md-4">
            <a class="nav-link" routerLink="/travel">TRAVEL</a>
          </li>
          <li class="nav-item me-md-4">
            <a class="nav-link" routerLink="/search">SEARCH</a>
          </li>
          <li class="nav-item me-md-4">
            <a class="nav-link" routerLink="/business">BUSINESS</a>
          </li>
          <li class="nav-item me-md-4">
            <a class="nav-link" routerLink="/captains">CAPTAINS</a>
          </li>
          <li class="nav-item me-md-4">
            <a class="nav-link" routerLink="/people">PEOPLE</a>
          </li>
          <li class="nav-item me-md-4">
            <a class="nav-link" routerLink="/profile">PROFILE</a>
          </li>
          <li class="nav-item me-md-3">
            <a class="nav-link" routerLink="/logout" (click)="logOut()">LOGOUT</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>