<!-- <div class="app-testemonials">
    <div class="container download-our-app">
        <div class="row">
            <div class="col-lg-6">
                <img src="assets/img/mobile-app.PNG" alt="mobile app" />
            </div>
            <div class="col-lg-5 download-our-app-info">
                <span>Become a driver?</span>
                <h2>Download Uride Apps</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt quas, excepturi illo eveniet impedit deserunt optio sed voluptatum fugit modi ipsa ullam magnam ipsam temporibus voluptatem, aperiam aspernatur odit ex?</p>
                <button class="first">App Store</button>
                <button class="second">Google Play</button>
            </div>
    
        </div>
    </div>
    <app-testimonial></app-testimonial>
</div> -->

<div class="download-app">
    <div class="container">
        <div class="row">
            <div class="download-img col-lg-6">
                <img src="assets/img/live_tracking.webp" alt="Our-app">
            </div>
            
            <div class="download-caption col-lg-6">
                <h2>What moves us?</h2>
                <div class="caption-border"></div>
                <p>Just like you, time, money and <br> comfort are what we're all about, so <br> you can always stay on the right <br>
                    track with a hassle-free commuting <br> experience.</p>

                <button>download</button>
            </div>
        </div>
    </div>
</div>