<div class="passenger">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 passenger-img">
                <div class="border-img col-lg-5"></div>
                <img src="assets/img/pass8.jpg" alt="passenger">               
            </div>
            <div class="col-lg-5 passenger-info">
                <!-- <span>Become a passenger?</span> -->
                <h2>Join As A Passenger</h2>
                <ul class="col-lg-10">
                    <div class="d-flex">
                        <i class="fa-check mt-4 " style="margin-left: -20px; color:#f82145"></i>
                        <li class="ps-3"> Ofer a rideshare for your local commute or for long distance trips. </li>
                    </div>
                    <div class="d-flex">
                        <i class="fa-check mt-3 " style="margin-left: -20px; color:#f82145"></i>
                        <li class="ps-4">  Fill your empty seats with passengers to share a ride. </li>
                    </div>
                    <div class="d-flex">
                        <i class="fa-check mt-3 " style="margin-left: -20px; color:#f82145"></i>
                        <li class="ps-4"> Save hundreds of dollors per month and have fun riding with new friends. </li>
                    </div>
                </ul>
                <button routerLink="/passenger">Join Now</button>
            </div>
        </div>
    </div>
</div>

