<div class="working-process">
    <div class="container">
        <div class="row">
            <span>How it works?</span>
            <h2>Our Working Process</h2>
            <div class="col">
                <img src="assets/img/matheus-ferrero-346656-unsplash.png" alt=""/>
                <h3>Set Your Destination</h3>
                <p class="col-lg-9">Type in your pick-up and drop-off locations to get your estimated fare</p>
            </div>
            <div class="col">
                <img src="assets/img/matheus-ferrero-346656-unsplash.png" alt=""/>
                <h3>Car rider</h3>
                <p class="col-lg-11">Start Your Ride will take to your destination safely. you can rat your car.  </p>
            </div>
            <div class="col">
                <img src="assets/img/matheus-ferrero-346656-unsplash.png" alt=""/>
                <h3>Give A Rating</h3>
                <p class="col-lg-8">After you complete a trip, you can rate your rider. </p>
            </div>
        </div>
    </div>
</div>
