<!-- header -->

<header>
    <div class="overlay">
        <div class="container">
            <app-navbar *ngIf="id == '' "></app-navbar>
            <app-second-navbar *ngIf="id != '' "></app-second-navbar>
        </div>

        <div class="banner">
            <h1>Inspiring from within. <br>
                Craftmanship by trade.</h1>

        </div>
    </div>
</header>

<div class="we-are">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="we-are-caption">
                    <h2>We are the <br>
                        people who <br>
                        move & inspire <br>
                        us.</h2>
                    <p>We strive to connect the dots in every <br> experience, inspire the environment we <br> work in &
                        empower the culture we <br> believe in, everyday.</p>
                    <div class="border-bottom"></div>
                </div>
            </div>

            <div class="col-lg-5">
                <img src="assets/img/people.svg" alt="people">
            </div>
        </div>
    </div>
</div>

<!-- story -->
<div class="story">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="story-img">
                    <img src="assets/img/story.jpg" alt="story">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="story-caption">
                    <h2>We have a <br> story to tell.</h2>
                    <p>From the good, bad and <br>
                        ugly days, to the exciting,<br>
                        thrilling and fun-filled <br>
                        experiences. They're here to <br>
                        be heard.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- uride way -->


<div class="uride-way">
    <div class="container">
        <h2 class="text-center">Now What Is The Uride Way?</h2>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                    aria-label="Slide 6"></button>
            </div>

            <div class="carousel-inner">

                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="way-img">
                                <img src="https://www.swvl.com/hubfs/Swvl_June2021/Images/arrow-s.png" alt="" class="d-block w-25">
                                <img src="assets/img/speak_.svg" alt="speak" class="img-fluid">
                            </div>
                        </div>

                        <div class="col-lg-5">
                            <h3>Speak one <br> language, <br>numbers.</h3>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="way-img">
                                <img src="https://www.swvl.com/hubfs/Swvl_June2021/Images/arrow-s.png" alt="" class="d-block w-25">
                                <img src="assets/img/way.svg" alt="speak">
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <h3> You are a <br> co-founder. <br> Act like one!</h3>
                        </div>
                    </div>

                </div>

                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="way-img">
                                <img src="https://www.swvl.com/hubfs/Swvl_June2021/Images/arrow-s.png" alt="" class="d-block w-25">
                                <img src="assets/img/food.svg" alt="speak" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <h3> We are either hungry or <br> food. </h3>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="way-img">
                                <img src="https://www.swvl.com/hubfs/Swvl_June2021/Images/arrow-s.png" alt="" class="d-block w-25">
                                <img src="../../assets/img/wasted_.svg" alt="speak" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <h3>If it’s not <br> today, we <br> wasted a day.</h3>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="way-img">
                                <img src="../../assets/img/better.svg" alt="speak" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <h3>We only hire  <br> people better  <br>  than us. </h3>
                        </div>
                    </div>

                </div>

                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="way-img">
                                <img src="../../assets/img/customers.svg" alt="speak" class="mt-5">
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <h3> Customers &amp; <br> captains are  <br> the end destination &amp; <br> the starting <br> point.</h3>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<!-- be a urider -->

<div class="be-urider">
    <h2>Be a Urider.</h2>
    <p>Apply now email <br>
        crafts@uride.com</p>
    <button>Apply</button>
</div>

<app-download-our-app></app-download-our-app>

<!-- footer -->
<app-footer></app-footer>