<h2>Now, choose your ride!</h2>
<p>Tailored to all your nitty-gritty needs, transported by Captains who <br>
  maintain a tight ship, so to speak (aye, aye captain)</p>

<div id="carouselExampleIndicators" data-interval="false" class="slide carousel" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <div class="indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2" ></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
    </div>
  </div>
  <div class="carousel-inner h-75">
    <div class="carousel-item active">
      <div class="choose-ride">
        <div class="d-flex">
          <div class="col-lg-4">
            <div class="row">
                <div class="bg-blue col-md-1"></div>
                <div class="trip-caption col-md-11">
                  <h2>Uride <span>daily.</span></h2>
                  <p> Your timely, <br> affordable, and <br> comforting <br> everyday bus ride <br> around the city.</p>
                  <img src="assets/img/truck.svg" alt="truck">
                </div>
            </div>
            
          </div>

          <div class="col-lg-8">
            <div class="trip-img"></div>
          </div>
        </div>
      </div>

    </div>
    <div class="carousel-item">
      <div class="choose-ride">
        <div class="d-flex">
          <div class="col-lg-4">
            <div class="row">
              <div class="bg-pink col-md-1"></div>
              <div class="trip-caption trip-caption2 col-md-11">
                <h2>Uride <span>Travel.</span></h2>
                <!-- <p> Your timely, <br> affordable, and <br> comforting <br> everyday bus ride <br> around the city.</p> -->
                <p>Affordable long- <br> distance rides <br> between cities <br> everyday.</p>
                <img src="https://www.swvl.com/hubfs/Swvl_June2021/Images/truck_2.svg" alt="truck">
              </div>
          </div>
          </div>

          <div class="col-lg-8">
            <div class="trip-img trip-img2"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="choose-ride">
        <div class="d-flex">
          <div class="col-lg-4">
            <div class="row">
              <div class="bg-blue col-md-1"></div>
              <div class="trip-caption trip-caption3 col-md-11">
                <h2>Uride <span>Business.</span></h2>
              <!-- <p> Your timely, <br> affordable, and <br> comforting <br> everyday bus ride <br> around the city.</p> -->
              <p class="">Solutions manage transportation <br> more efficiently for <br> all kinds of businesses.</p>
              <img src="https://www.swvl.com/hubfs/Swvl_June2021/Images/truck_3.svg" alt="truck">
              </div>
          </div>
          </div>

          <div class="col-lg-8">
            <div class="trip-img trip-img3"></div>
          </div>
        </div>
      </div>
    </div>
    
  </div>